.employee {
  margin-bottom: 20px;
}

.employee__title {
  margin-bottom: 15px;
  font-size: 18px;
}

.employee__status-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.employee__status-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.employee__status-button:checked {
  background-color: #3934e0;
}

.employee__title--active {
  color: #3934e0;
}
